-- CreateEnum
CREATE TYPE "TypeTache" AS ENUM ('PUBLICATION', 'SPONSORISATION', 'MONTEUR', 'DESIGNER', 'DEV', 'MAILING', 'ADMINISTRATIVE');

-- CreateTable
CREATE TABLE "Departement" (
    "id" TEXT NOT NULL,
    "nom_departement" TEXT NOT NULL,

    CONSTRAINT "Departement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Poste" (
    "id" TEXT NOT NULL,
    "titre_poste" TEXT NOT NULL,
    "departementId" TEXT NOT NULL,

    CONSTRAINT "Poste_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Role" (
    "id" TEXT NOT NULL,
    "niveau_acces" TEXT NOT NULL,

    CONSTRAINT "Role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Employe" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "posteId" TEXT NOT NULL,
    "roleId" TEXT NOT NULL,

    CONSTRAINT "Employe_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Licence" (
    "id" TEXT NOT NULL,
    "nom_complet" TEXT NOT NULL,
    "sigle" TEXT NOT NULL,

    CONSTRAINT "Licence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ville" (
    "id" TEXT NOT NULL,
    "nom_ville" TEXT NOT NULL,

    CONSTRAINT "Ville_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EditionPage" (
    "id" TEXT NOT NULL,
    "date_debut" TIMESTAMP(3),
    "date_fin" TIMESTAMP(3),
    "licenceId" TEXT NOT NULL,
    "villeId" TEXT NOT NULL,

    CONSTRAINT "EditionPage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Theme" (
    "id" TEXT NOT NULL,
    "nom_theme" TEXT NOT NULL,

    CONSTRAINT "Theme_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StatutTache" (
    "id" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,

    CONSTRAINT "StatutTache_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tache" (
    "id" TEXT NOT NULL,
    "typeTache" "TypeTache" NOT NULL,
    "titre" TEXT NOT NULL,
    "description" TEXT,
    "date_limite" TIMESTAMP(3) NOT NULL,
    "lien_livrable" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "employeId" TEXT NOT NULL,
    "editionId" TEXT NOT NULL,
    "statutTacheId" TEXT NOT NULL,
    "plateforme" TEXT,
    "type_pub" TEXT,
    "themePubId" TEXT,
    "themeSponsoId" TEXT,
    "budget" DOUBLE PRECISION,
    "audience" TEXT,
    "format_video" TEXT,
    "duree_cible" TEXT,
    "demandeur" TEXT,
    "type_visuel" TEXT,
    "quantite" INTEGER,
    "type_technique" TEXT,
    "type_demarche" TEXT,

    CONSTRAINT "Tache_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Execution" (
    "id" TEXT NOT NULL,
    "date_reelle" TIMESTAMP(3),
    "url_live" TEXT,
    "tacheId" TEXT NOT NULL,

    CONSTRAINT "Execution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Evaluation" (
    "id" TEXT NOT NULL,
    "score_qualite" INTEGER,
    "commentaire_ia" TEXT,
    "executionId" TEXT NOT NULL,

    CONSTRAINT "Evaluation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_EditionPageToEmploye" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "Departement_nom_departement_key" ON "Departement"("nom_departement");

-- CreateIndex
CREATE UNIQUE INDEX "Role_niveau_acces_key" ON "Role"("niveau_acces");

-- CreateIndex
CREATE UNIQUE INDEX "Employe_email_key" ON "Employe"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Licence_sigle_key" ON "Licence"("sigle");

-- CreateIndex
CREATE UNIQUE INDEX "Ville_nom_ville_key" ON "Ville"("nom_ville");

-- CreateIndex
CREATE UNIQUE INDEX "EditionPage_licenceId_villeId_key" ON "EditionPage"("licenceId", "villeId");

-- CreateIndex
CREATE UNIQUE INDEX "Theme_nom_theme_key" ON "Theme"("nom_theme");

-- CreateIndex
CREATE UNIQUE INDEX "StatutTache_libelle_key" ON "StatutTache"("libelle");

-- CreateIndex
CREATE UNIQUE INDEX "Execution_tacheId_key" ON "Execution"("tacheId");

-- CreateIndex
CREATE UNIQUE INDEX "Evaluation_executionId_key" ON "Evaluation"("executionId");

-- CreateIndex
CREATE UNIQUE INDEX "_EditionPageToEmploye_AB_unique" ON "_EditionPageToEmploye"("A", "B");

-- CreateIndex
CREATE INDEX "_EditionPageToEmploye_B_index" ON "_EditionPageToEmploye"("B");

-- AddForeignKey
ALTER TABLE "Poste" ADD CONSTRAINT "Poste_departementId_fkey" FOREIGN KEY ("departementId") REFERENCES "Departement"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Employe" ADD CONSTRAINT "Employe_posteId_fkey" FOREIGN KEY ("posteId") REFERENCES "Poste"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Employe" ADD CONSTRAINT "Employe_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EditionPage" ADD CONSTRAINT "EditionPage_licenceId_fkey" FOREIGN KEY ("licenceId") REFERENCES "Licence"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EditionPage" ADD CONSTRAINT "EditionPage_villeId_fkey" FOREIGN KEY ("villeId") REFERENCES "Ville"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tache" ADD CONSTRAINT "Tache_employeId_fkey" FOREIGN KEY ("employeId") REFERENCES "Employe"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tache" ADD CONSTRAINT "Tache_editionId_fkey" FOREIGN KEY ("editionId") REFERENCES "EditionPage"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tache" ADD CONSTRAINT "Tache_statutTacheId_fkey" FOREIGN KEY ("statutTacheId") REFERENCES "StatutTache"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tache" ADD CONSTRAINT "Tache_themePubId_fkey" FOREIGN KEY ("themePubId") REFERENCES "Theme"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tache" ADD CONSTRAINT "Tache_themeSponsoId_fkey" FOREIGN KEY ("themeSponsoId") REFERENCES "Theme"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Execution" ADD CONSTRAINT "Execution_tacheId_fkey" FOREIGN KEY ("tacheId") REFERENCES "Tache"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Evaluation" ADD CONSTRAINT "Evaluation_executionId_fkey" FOREIGN KEY ("executionId") REFERENCES "Execution"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_EditionPageToEmploye" ADD CONSTRAINT "_EditionPageToEmploye_A_fkey" FOREIGN KEY ("A") REFERENCES "EditionPage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_EditionPageToEmploye" ADD CONSTRAINT "_EditionPageToEmploye_B_fkey" FOREIGN KEY ("B") REFERENCES "Employe"("id") ON DELETE CASCADE ON UPDATE CASCADE;

